.container-fluid {
    padding: 20px;
  }
  
  .card-container {
    width: 90%;
    max-width: 400px;
    cursor: pointer;
  }
  
  .card {
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
 
  
  .progress-container {
    width: 100%;
    max-width: 400px;
  }
  


.darkMode{
    
}

  .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 100;
  }
  
  .sidebar-open {
    right: 0;
  }
  
  .sidebar-dark {
    background: #222;
    color: white;
  }
  
  .sidebar-light {
    background: #f8f9fa;
    color: black;
  }

  body.dark-mode {
    background-color: #121212;
    color: #fff;
    
  }
  
  .sidebar-dark {
    background-color: #333;
  }
 
  .flip-card {
    perspective: 1000px;
  }
  
  
  
  .flipped {
    transform: rotateY(180deg);
    color: black;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }

 
      
  
  /* Adjust other dark mode elements as needed */
  
  